[2021-02-24 04:09] pzelnip opened #1 "Bigger pets!"
My cat is so tiny, can't we have an option to make the pet bigger?

[2021-02-24 09:39] tonybaloney commented on #1
Very good point, I tend to agree. I'll have to think about scaling up the graphics without making them blurry.

[2021-02-24 16:07] deltadan opened #2 "more clippy"
i need clippy in my code please...

[2021-02-24 20:57] Shipleaves opened #3 "I want to feed it treats!"
My cat is so cute, I want to be able to feed it treats!

[2021-02-25 18:02] ZurMaD commented on #1
keep calm, they grow like in  reality

[2021-02-25 18:34] Milo123459 opened #4 "no need for another panel"
iirc, you dont need another panel to add the pets, it could be a setting that whenever you open a file you see it at the bottom of the file, like the pet panel but just built in to the bottom of your file. would be very cool.

also this extension is amazing, it increases my productivity

[2021-02-27 00:27] Favna commented on #2
This would a really funny addition. If Microsoft won't give us Clippy, lets put Clippy in the Microsoft editor.

[2021-02-27 00:31] kyranet commented on #1
I found something in [StackOverflow](https://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas), which seems to work nicely 😉

[2021-03-04 19:49] todom-sp opened #6 "Black cat swipe is a broken image :("
I just get a broken image icon instead of the cute "swipe at the cursor" animation. Default brown cat worked fine.

[2021-03-05 07:30] MugBread3 opened #7 "Cat Levatating"
If you throw a ball while the cat is on the wall it will hover through the air as if it was on the floor until it reaches the ball, it will then hover in the air where it stoped like if it was on the wall.

[2021-03-07 16:41] 24k-ewok commented on #6
i'm seeing the same thing here

[2021-03-07 21:13] tonybaloney commented on #6
oh no! I'm so sorry. I'll find out what's happening there

[2021-03-07 21:59] #6 closed

[2021-03-07 22:00] tonybaloney commented on #7
oh no! thanks for the bug report. I'll fix that up

[2021-03-07 23:03] #1 closed

[2021-03-07 23:11] tonybaloney commented on #1
Updated in 0.6.0. Options for `petSize` are `nano`, `medium` and `large`. It will use `nano` by default so that the pets are consistent with the existing size

[2021-03-08 00:53] pzelnip commented on #1
Love it, thanks for implementing!

[2021-03-08 07:02] Miaourt opened #9 "Publish to OpenVSX"
Thanks for this lovely extension !

We are quite a few using [VSCodium](https://vscodium.com/), a release of VSCode which isn't proprietary and doesn't bundle Microsoft telemetry, and doing so it doesn't use Microsoft's marketplace for their extensions.

They use [Open VSX](https://open-vsx.org/), which is basically the same but they don't have obscure policies preventing custom clients to downloa

[2021-03-08 07:09] tonybaloney commented on #4
Hi.

This is how I initially started developing this extension but couldn't get it to work. VS Code limits what you can do in an extension. For custom UI (like the graphics this extension uses), you need to render a web view.
For native controls, you have to use the builtin UI toolkit, which is mostly dropdown, menu and such like (no cats).

I'd be happy to look at any samples for anyone who's don

[2021-03-08 07:09] tonybaloney commented on #3
thanks! this is a cool idea.

[2021-03-08 07:33] Milo123459 commented on #4
Sadly I've never done it but it's definitely hackable!

[2021-03-08 09:09] Phosphorus-M commented on #4
Yeah I used in Atom an extension called powermode but in VS Code the extensión doesn't work how should. The same problem, the extensions need access to the DOM but it's impossible at this moment in VS Code.

[2021-03-08 09:11] Milo123459 commented on #4
Oh, if it isn't possible then this should probably be an issue in VSCode?

[2021-03-08 09:18] quentincaffeino commented on #4
I think this is rather a design choice to disallow modules to mess with the view of the code directly.
Powermode mentioned above uses TextEditorDecorations api which is also very limited to what it can do from my understanding.

[2021-03-08 09:20] Milo123459 commented on #4
Ah, I've seen something that displays an anime character in the bottom right. I hate anime but let me try find it.

[2021-03-08 09:22] quentincaffeino commented on #4
This one? https://github.com/ezshine/vscode-rainbow-fart-waifu

[2021-03-08 09:25] Milo123459 commented on #4
Yes, it disgusts me 😂

On another note, it does what I *think* this extension needs.

[2021-03-08 09:36] quentincaffeino commented on #4
Ok so I went through the code and found that it doesn't render image using vscode. It uses different executable process and communicates with it via sockets.

[2021-03-08 09:46] Milo123459 commented on #4
Will that work in this case?

[2021-03-08 09:58] quentincaffeino commented on #4
Yeah it would but it would require to write external application for each os, not sure everyone would want to install something extra

[2021-03-08 10:02] tonybaloney commented on #4
I did read the source of that extension (also 😬) , it’s the one I was referring to which hacks the background of the page. iIRC it sets the background image of the editor tag to the graphic. It’s definitely not supported by VS code and it’s quite tricky to keep stable

[2021-03-08 10:05] quentincaffeino commented on #4
@tonybaloney where did you find it setting the bg? Readme states that to display image you need to download external application which I guess renders graphics in a completely separate window.

[2021-03-08 11:17] Milo123459 commented on #4
Aww, let me know how I can help and I'll be sure to!

[2021-03-08 12:48] ImedAdel commented on #4
This is a stretch and definitely out of scope, but would you consider making an Electron (or Tauri, for smaller size) app that just displays a hovering cat on the screen? :love_letter:

[2021-03-08 13:37] Hobart2967 commented on #4
Isn't there any possibility to get the handle of the text editor DOM element? So you could attach your webview to it's parent, making it position relative, full height and width, and then add

pointer-events: none;

This would require adapting the mouse-over interaction with the cat though.

[2021-03-08 15:49] zjoh5253 opened #10 "Getting an error on install"
Hey there! Super pumped about this extension but it's saying it's not supported on my vscode version? Anyone else seeing this?

![Screen Shot 2021-03-08 at 8 48 22 AM](https://user-images.githubusercontent.com/20303625/110344856-2c2b2800-7feb-11eb-94fa-6320ab79f159.png)

[2021-03-08 16:27] quentincaffeino commented on #4
Webview in vscode is very similar to iframe and there's no possibly to reach to parent context from child one that I know of.

[2021-03-08 18:50] kimmccaskill commented on #10
I had to update to the latest version to get it to work. Code > Check for Updates. Got me to 1.54.1 and works fine now

[2021-03-08 19:23] zjoh5253 commented on #10
Thanks Kim!

On Mon, Mar 8, 2021 at 11:50 AM Kim McCaskill <notifications@github.com>
wrote:

--
Zach Johnson
zach@zachjohnson.dev
zachjohnson.dev
(801) 842-2358

[2021-03-08 20:51] tonybaloney commented on #4
it was this extension https://github.com/shalldie/vscode-background I think it works by rewriting the CSS on disk for VS Code and injecting custom images (yikes!)

[2021-03-08 20:54] Milo123459 commented on #4
Whatever works works.. Except in this case you can't inject gifs in CSS.. well, I don't think at least.

[2021-03-08 20:58] quentincaffeino commented on #4
@Milo123459 while you could get gifs as a bg, problem would be this extension gives much more features that would be possible to make with css.

[2021-03-08 20:58] Milo123459 commented on #4
Yes

[2021-03-08 21:32] algcifaldi opened #11 "Feisty snake? 🐍"
Hi there! On the [VScode Marketplace](https://marketplace.visualstudio.com/items?itemName=tonybaloney.vscode-pets) it mentions a feisty snake, but it seems like this is not currently supported.

Would this be a good candidate for open source contributors to help out with? If so I would be interested! Apologies as I know this really isn't an "issue"

<img width="787" alt="Screen Shot 2021-03-08 at

[2021-03-08 22:23] arronhunt commented on #11
He shows up for me in the settings 🤔

<img width="1146" alt="image" src="https://user-images.githubusercontent.com/298336/110389724-c7d38d00-8019-11eb-8993-8be24ce09d97.png">

[2021-03-08 23:24] algcifaldi commented on #11
_gasp_, thank you so much! sorry I missed it!

[2021-03-08 23:24] #11 closed

[2021-03-09 06:01] tonybaloney commented on #10
Hi. Thanks for the report. Minimum version required is 1.53.0, the latest is 1.54.0

This is just to make sure it's using the correct API and the experience is consistent.

I recommend updating VS Code on a regular basis as new versions often come with new features, bug fixes and more!

[2021-03-09 06:01] #10 closed

[2021-03-09 11:39] Milo123459 commented on #4
Actually @ImedAdel they do: https://github.com/tauri-apps/tauri/issues/1340#issuecomment-793754044

[2021-03-09 11:47] quentincaffeino commented on #4
@Milo123459 It wasn't released yet from what I see on a project board.

[2021-03-09 15:24] Milo123459 commented on #4
Not released but works!

[2021-03-09 21:14] Vicente015 opened #12 "Pet panel in other views"
Many times out of habit I hit the button to close all the panels / tabs and accidentally close the one for the pet.

I would like the option to be able to move the panel to other view types and to be able to have my pet in the sidebar without having to worry about accidentally closing it.

I have tried to make a concept to explain it better.
![Example concept](https://user-images.githubusercontent

[2021-03-10 16:42] coryblische opened #13 "Post a Donation Link on the repo!"
I want to send you a coffee! Love these pets!

[2021-03-11 11:28] Milo123459 commented on #4
Any more ideas on this?

[2021-03-11 23:10] carlandthehumancrab opened #14 "Not compatible with current (v 1.52) of vscode"
![Capture](https://user-images.githubusercontent.com/35293790/110867623-f7ef8a00-82be-11eb-827c-5a481ad14176.PNG)

[2021-03-12 01:26] tonybaloney commented on #14
The current version of vscode is 1.54. This extension works with 1.53 and above.

You'll need to update vscode before installing. The good news is those newer versions come with lots of new features!

[2021-03-12 01:26] #14 closed

[2021-03-12 01:26] tonybaloney commented on #13
❤️ there is now a sponsor button on this repo.

[2021-03-12 07:48] marcduiker commented on #2
I've created a fork and will add an pixel version of Clippy in the next couple of days 😁.

[2021-03-12 19:12] marcduiker commented on #2
See pull/15

[2021-03-12 21:22] tonybaloney commented on #2
implemented in #15 thanks @marcduiker

[2021-03-12 21:22] #2 closed

[2021-03-12 21:22] #13 closed

[2021-03-15 00:01] tonybaloney commented on #9
Hi @Miaourt

Thanks for the suggestion.

I actually work for Microsoft, so I wouldn't feel comfortable going out of my way to publish it onto another platform without fully understanding the implications.
The workaround to download it manually, or to build the extension locally seems ok for now. This project is MIT licensed.

A note that you can disable any telemetry https://code.visualstudio.com/

[2021-03-15 02:09] tonybaloney opened #17 "Allow customisation of colours for clippy"
It would be great to have clippy in the "officially" supported colours by clippy wearing different colored baseball caps.

The cap should also have the VS Code logo on it 👍

@marcduiker do you think this would be a lot of work?

[2021-03-15 09:04] marcduiker commented on #17
I'll do some experimentation. Clippy is very low res though (on purpose) so having the VSCode logo on the cap is unlikely. I'll definitely try colored baseball caps. You want all the colors from the PetColor enum right?

[2021-03-15 11:24] foleavora opened #18 "Feed the cat with commits"
There could be an extra mode where the cat got hungry after some time and you had to feed it with git commits, a coding tamagotchi basically. This could even be an actually helpful feature for some people as it puts some kind of pressure on the developer to not let their pet starve.

[2021-03-16 01:06] tonybaloney opened #20 "Change the pet logic from a single-branch FSM to a bayesian network"

[2021-03-16 09:32] marcduiker commented on #17
![image](https://user-images.githubusercontent.com/4191277/111286734-cb32ce00-8642-11eb-8c09-71ec4ea3e3c7.png)

Brown, black, and green caps. Shall I continue and re-export the animations with these caps?

[2021-03-16 23:25] tonybaloney commented on #17
Looks amazing ❤️

[2021-03-17 06:09] #20 closed

[2021-03-17 06:18] tonybaloney commented on #7
Fixed in 0.9.0

[2021-03-17 06:18] #7 closed

[2021-03-17 23:14] #17 closed

[2021-03-17 23:27] tonybaloney opened #24 "Cuter snake"
The snake resolution is too low and it lacks character. You can barely see its eyes.

If anyone wants to contribute a cuter snake it would be welcome :heart:

[2021-03-18 20:28] galathinius opened #25 "Pet rubber duck"
may I suggest a rubber duck? to help in debugging sessions

as in rubber duck debugging

[2021-03-18 23:16] mintyc opened #26 "Rust and crabs"
The rust language has very good ide support from vscode but use would go through the roof if a pet crab could be part of your extension.

There are lots of images of walking and dancing crabs available.

If you are interested in adding this new pet, I'd be happy to seek appropriate artwork (copyright and licensing etc.) from the rust community if you have lists of animations, image sizes and numbe

[2021-03-18 23:25] mintyc opened #27 "Background art too?"
Maybe the bottom of the editor window where the pet plays could also have a subtle background to show where they play? Could even make it animated. PetPlay themes.

This extension is going places!

[2021-03-19 01:22] Invoke-Mimikatz opened #28 "Add an option for pet rat"
Hi there,

First, thank you for the great extension. it has significantly improved my vscode workflow. Great work.

I was wondering if there were any plans to develop a pet rat. Not only are rats one of the cutest animals, they also provide thematically interesting activities such as fetching cheese or solving maze puzzles.

I hope you can add this feature. Thanks.

[2021-03-19 07:19] marcduiker commented on #25
I like this idea!

@tonybaloney you can assign this one to me. Shall we go single color (yellow) for the duck?

[2021-03-19 07:23] marcduiker commented on #26
Hi @mintyc,

I was already thinking of Rust and a pet crab. I can make the animations so no need to find existing artwork.
@tonybaloney single color (red) for this one as well?

[2021-03-19 07:25] marcduiker commented on #24
Well, I can't ignore this one 😅. I'll make some drawings.

[2021-03-19 07:30] marcduiker opened #29 "Add Azure Functions Zappy as a pet"
Zappy is the (unofficial) mascot for Azure Functions. I'd like to add them as pet.

See https://twitter.com/jeffhollan/status/1321876877485637633

![image](https://user-images.githubusercontent.com/4191277/111746488-64095980-888e-11eb-9997-95a7a5e7a9ac.png)

[2021-03-21 23:03] Milo123459 commented on #26
+1 on this. Can't wait!

[2021-03-21 23:04] Milo123459 commented on #4
I think I might have some ideas on how I can get this done and make a pr for it.. I'll keep you posted

[2021-03-26 08:10] tonybaloney commented on #25
Released in 0.11.0

[2021-03-26 08:10] #25 closed

[2021-03-27 03:12] tonybaloney opened #32 "Add clippy with yellow hat"
Yellow is the only color clippy doesn't support

@marcduiker is this tricky to do?

[2021-03-27 14:08] marcduiker commented on #32
No prob, I'll add it 😊

[2021-03-28 15:42] Yukaii commented on #12
I've done a PoC in my fork (https://github.com/Yukaii/vscode-pets/tree/feature/webview-view):

https://user-images.githubusercontent.com/4230968/112757982-9d745e80-901e-11eb-8a73-4e46c46948e8.mp4

I'll make an option for positioning and submit a PR soon. 😉

[2021-03-29 06:35] RuslanSevrukov opened #36 "why i cant have a little green dog?!("
I chose these configs, but the dog still brown!

[2021-03-29 08:13] tonybaloney commented on #36
The dog and the cat only have graphics for brown and black right now. If you choose another colour it will default to brown
Green is currently reserved for the snake

[2021-03-29 12:14] marcduiker opened #37 "Rubber duck is no longer animated"
Somehow the rubber duck gifs are not playing the animation (it was in v0.11). It's currently only showing the first frame. The media files seem to be fine.

[2021-03-29 14:18] RuslanSevrukov commented on #36
Would u like to just enumerate colors on the picture and allow users to chose its values?

[2021-03-30 07:34] tonybaloney commented on #37
thats weird. is it still moving around? Which state is it in?

[2021-03-30 09:04] marcduiker commented on #37
It is still moving and state switching works. I'll re-export the gifs to check if the files have been corrupted somehow 🤷‍♂️. All the other pets work as expected.

[2021-04-05 09:38] #12 closed

[2021-04-05 09:54] tonybaloney commented on #4
Released the explorer option in 1.1.0

[2021-04-15 03:26] #32 closed

[2021-04-15 05:00] tonybaloney commented on #27
Working on this now. I'll make them configurable with different themes. Also planning to use layers so the pet will be between the background and foreground

[2021-04-15 06:33] tonybaloney commented on #27
<img width="691" alt="Screen Shot 2021-04-15 at 4 30 50 pm" src="https://user-images.githubusercontent.com/1532417/114824311-0eca5480-9e08-11eb-8291-3a51f2884519.png">

A little prototype with a dark forest asset set. It has a background + foreground so the pets will be between the two (z-index wise)

[2021-04-15 06:53] tonybaloney commented on #27
https://user-images.githubusercontent.com/1532417/114826640-13dcd300-9e0b-11eb-83ca-434e80f5e595.mov

[2021-04-15 07:46] myloooon opened #42 "a pet rock"
i think it would be really cool if there could be a pet rock. i've attached some concept art i workshopped for a couple hours, in case you'd like to see it. hope you enjoy let me know if you need any more info
<img width="375" alt="pet-rock-version-FINAL" src="https://user-images.githubusercontent.com/60547888/114832961-b4dc7700-9d94-11eb-8a5a-f49d5493b81d.png">

[2021-04-15 11:49] #37 closed

[2021-04-16 03:40] tonybaloney commented on #42
thanks for the suggestion @myloooon I have some questions though if this were to be implemented:

1. If you poke the rock with the mouse, how should it respond?
2. Would the rock chase the ball when thrown?
3. What possible states and animations could be considered for the rock?
4. Would the rock come in different colours?

Thanks

[2021-04-16 04:12] #27 closed

[2021-04-16 04:20] myloooon commented on #42
Hi Mr. Baloney,

1.) like a real small rock is often known to do, it might wiggle slightly but otherwise not do much else!
2.) i think it would like to very much but it may not be the fastest at it. maybe it could chase it, but it can only move about a pixel per minute or two?
3.) some states could include resting, dormant, stationary, lounging, and relaxing, just off the top of my head. some mood

[2021-04-16 06:53] tonybaloney opened #45 "The cat should sleep"
The dog has a lie action, where it will wag its tail in anticipation, but the cat is waaaay too active.

I think the cat should sleep quite often and then wake when swiped (or go back to sleep?)

[2021-04-18 09:37] marcduiker opened #47 "Add a Heisenbug as a pet"
Programming bugs are nasty, especially Heisenbugs. But it would be nice to have one as a pet.
https://en.wikipedia.org/wiki/Heisenbug

[2021-04-18 09:40] marcduiker commented on #24
Basics are done, now working on animations.
![Python_vscode_pets_still_idle2](https://user-images.githubusercontent.com/4191277/115141073-c5ae1680-a03a-11eb-8d3a-714d033a4b18.png)

[2021-04-20 10:46] marcduiker commented on #26
@tonybaloney  this one can be closed, has been delivered in release 1.3.0 🦀🎉

[2021-04-20 11:42] #26 closed

[2021-04-23 14:03] eroecher opened #50 "Interaction between multiple pets"
Interactions between multiple pets (e.g. playful fighting) would be great ;)

[2021-04-23 21:40] tonybaloney commented on #50
I agree it would be a nice feature. I'm not sure yet to what depth this would work, i.e.,
Should the dog and crab interact differently than the dog and cat? What would two cats do? Would two cats get to know each other over time? It would be distracting to have a big sequence every time they pass, which is often.
I think it'd also be fun for the animals to chase one another

[2021-04-28 16:50] HelveticaScenario opened #51 "Broken image"
I set my pet to a grey cat and it showed up as a broken image, and now even though I added a brown cat the broken image cat wont go away.

[2021-04-29 07:26] marcduiker opened #54 "Add adjustable speed for each pet"
It would be nice if some pets would move with a different speed which is closer to their nature. For instance a turtle would move slower than a cat. We could extend the Pets model with speeds for walking, fast walking and running. We should also allow a speed of 0 (for the rock 😉).

[2021-04-30 02:55] tonybaloney commented on #51
I just had the same issue. In the logs it was referring to the previous version of the extension.

Try reloading the window and seeing if that fixes the bug, otherwise I'll have to raise it with the vscode team

[2021-05-01 00:26] tonybaloney opened #56 "Name cursor should be per petType"
In the state there's a `petNumber` variable which represents the number of created pets. this is used to pick the next name in the names.ts file, but its global, so if you have 3 cats and add a Totoro it'll name it the 4th name in the Totoro list, which is silly because it should be the first (Totoro)

[2021-05-03 10:42] eroecher commented on #50
Yeah, custom animation for each type of animal would be the most life like thing, but it also adds a lot of complexity. Maybe it's easier to start with interactions that can be reused with any pair of animals like a type of looking at each other. Every pet gets it's own looking animation and everytime two pets meet, there is a chance for an interaction.
I suppose you could use the same playful fig

[2021-05-04 07:02] #54 closed

[2021-05-04 07:02] #24 closed

[2021-05-07 16:50] marcduiker opened #59 "Add a Dalek as a pet"
To EXTERMINATE* all the bugs.

[*in loud metallic voice]

[2021-05-10 00:53] tonybaloney commented on #4
Closing this issue for now. I know some folks want the pet to wonder around the editor window, but thats simply not possible with the extension API in vscode

[2021-05-10 00:53] #4 closed

[2021-05-27 17:39] alexzobi commented on #18
my whole team's pets would die.

[2021-05-28 12:41] computergnome99 commented on #51
![image](https://user-images.githubusercontent.com/55407248/119985298-768bc780-bf90-11eb-9d8d-bba2952bf2ae.png)

Same issue. I went to spawn a dog but before I could choose the color the command line closed and the broken image spawned.

[2021-05-28 12:42] computergnome99 commented on #51
Wouldn't be such an issue if I could de-spawn pets. That might be the simple "band-aid" solution.

[2021-06-08 20:28] JustinGrote opened #61 "Possible to exist in editor window?"
This may not be possible due to the extension API but would it be possible for the pet to live in the editor window? I'd love zappy running around at the bottom of my code than taking up valuable space in a side editor.

[2021-06-09 19:56] vytas7 opened #62 "Color cycling based animations"
Hi!
Not a heavy VSCode user here, basically just installed it to test this pets extension :smiling_imp:

I was thinking to myself, implementing [color cycling](https://en.wikipedia.org/wiki/Color_cycling) support for 8-bit palette images would be a great addition.
Something along the lines of http://www.effectgames.com/demos/canvascycle/?sound=1

[2021-06-10 20:37] JustinGrote commented on #61
Dupe of #4

[2021-06-10 20:37] #61 closed

[2021-06-10 20:59] tonybaloney commented on #62
For the backgrounds or for the pets?

I've been trying to work out how users could get full customisation of the colours for the pets, possibly fully utilising the HTML Canvas. However, since canvas doesn't support animated image placement, I'd have to render them frame-by-frame. This would open up the potential to do custom colorisation, but I was worried about the CPU overhead.

[2021-06-10 21:13] vytas7 commented on #62
I was thinking backgrounds in the first place, but maybe pets too (?) :thinking:

[2021-06-17 15:57] TheMoonDawg opened #63 "Pet sprites aren't animating"
Recently, my pet sprites have stopped animating. They'll still move, but they're just gliding across the screen now.

Here's my version info:

Version: 1.57.0 (Universal)
Commit: b4c1bd0a9b03c749ea011b06c6d2676c8091a70c
Date: 2021-06-09T17:22:31.215Z
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 19.6.0

I've tried reinstalling the extension as wel

[2021-06-17 16:02] TheMoonDawg commented on #42
I'm personally a fan of the rock doing absolutely nothing and just sitting there dormant for all of eternity.

[2021-06-18 22:46] JING1201 commented on #56
I can take on this one! Is anyone else working on this?

[2021-06-18 22:49] JING1201 commented on #29
Should this issue be closed? I see that Zappy is already in the extension :D

[2021-06-19 00:09] tonybaloney commented on #63
I had exactly the same issue yesterday. Nothing in the extension has changed. It's all since VS Code was updated.
They're GIF's. Possibly a chrome change?

[2021-06-19 00:09] tonybaloney commented on #50
This is already implemented. I forgot to comment on the issue

[2021-06-19 00:10] #29 closed

[2021-06-19 00:10] #50 closed

[2021-06-19 00:10] tonybaloney commented on #56
@JING1201 yes please!

[2021-06-21 01:46] johnadan opened #64 "Pet's image is broken"
![image](https://user-images.githubusercontent.com/37522436/122696214-2e04b880-d275-11eb-9422-d657656df5e3.png)

Ever since installing the extension, images of pets won't show up.

[2021-06-23 20:10] TheMoonDawg commented on #63
Hmm yeah, now that I think about it, the issue only started when I updated VSCode as well.

[2021-06-24 08:31] tonybaloney commented on #64
Please try reloading the window and see if this fixes it. If not, change to another pet.

[2021-06-25 00:18] johnadan commented on #64
Hi Tony! Adding a new pet works! Thanks!

[2021-06-25 00:18] #64 closed

[2021-07-06 19:35] marcduiker commented on #63
Yup, have this issue as well. I'll ask around to see if anyone has an idea how to fix this.

[2021-07-19 22:36] #56 closed

[2021-07-28 15:40] johnmbaughman commented on #63
Hmmm... this could explain why I'm seeing the non-returning extra pets. Ghosts of sessions past?

[2021-07-30 05:07] beishenova opened #66 "how can I delete extra pet?"
Hi!
Thank you for this extention.
I'm the new user of vscode and I don't really understand how can I delete new animals. I tried to delete the extention several times but it didn't change yet.
I wanted to see all of them, now I can't have only 1 pet in my editor.

[2021-07-30 09:15] tonybaloney commented on #66
All the actions can be accessed from the Command Pallette. You can get to this from the top menu. Type "pets" and you'll see all the actions, including resetting extra pets

[2021-07-30 10:22] beishenova commented on #66
Пт, 30 июля 2021 г. в 15:15, Anthony Shaw ***@***.***>:

 Thank you!!

[2021-09-03 14:05] tusharsadhwani opened #67 "Can I run it in a browser window?"
What work would be needed to get this working in a browser window instead of a vscode pane?

[2021-10-22 02:47] Neos21 opened #68 "Please Keep Extra Pets!"
I want to persist extra pets...! :)

[2021-10-22 02:49] Neos21 opened #69 "Light Theme : Such as the Beach"
Castle and Forest are nice themes! I like castle theme!
In addition to it, I want more lighter themes, like the beach.

[2021-11-04 11:03] timothyckl opened #70 "Not sure how to run the extension"
Where do I type the vscode-pets.start command?

[2021-11-09 21:40] effordDev commented on #63
Was anyone able to solve?

[2021-11-10 00:30] unrealkyuan commented on #70
I was a bit confused about this too! You can run the action through the command palette `Cmd-Shift-P` and search for Pet. You should see the action 'Pet Coding: Start pet coding session'

[2021-12-05 10:59] cscott20 opened #71 "Overlay pets on files."
I would love if this extension could overlay pets on whichever file is currently open!

[2021-12-07 08:04] tonybaloney commented on #71
duplicate of https://github.com/tonybaloney/vscode-pets/issues/4

The answer sadly is no,

[2021-12-07 08:04] #71 closed

[2021-12-07 08:04] #70 closed

[2021-12-07 08:21] cscott20 commented on #71
Any reason? Is it not easy / possible to implement?

[2021-12-07 10:47] tonybaloney commented on #71
It's not possible. VS code doesn't provide an API for anything like that. We're constrained to the panel

[2021-12-07 16:27] SpLayzDK commented on #63
bump, we need a fix

[2021-12-07 21:24] #63 closed

[2021-12-07 21:28] tonybaloney commented on #63
Just had a lightbulb moment and realised what was causing this. Pushed an update

[2021-12-07 22:13] marcduiker commented on #63
OMG @tonybaloney you fixed it! I'm so happy with this, TY! 🙏

[2021-12-07 22:23] tonybaloney commented on #63
IF anyone is curious what the fix was:

1. VS Code made a change to the static path for assets
2. When you change the src attribute of an image element it resets GIFs to the first frame
3. There was a check in the code to only set the image on a frame when it changed
4. That check would always say the image has changed, because VS Code was rewriting the URL
5. The images were actually animating, b

[2021-12-08 09:32] AlanBlanchet opened #73 "Pets inside existing vscode tabs"
Hello,

Firstly I'd like to say that I love the idea behind this extension.
I find it hilarious !

That being said, I'd love to be able to watch the pet while I program in my vscode window.

For instance take my `.scss` file :
![image](https://user-images.githubusercontent.com/22567306/145183782-6aefcbbb-8573-44ec-96d3-a2fc9a24dba7.png)

I'd love to see the pet here, at the bottom. Would that be p

[2021-12-08 19:23] ErnstStavroBlofeld commented on #73
Great idea! It would be amazing if pets could walk on/in status bar.

[2021-12-08 22:10] tonybaloney commented on #73
See #71 (the short answer is this isn't possible)

[2021-12-08 22:10] #73 closed

[2021-12-08 22:14] #42 closed

[2021-12-08 22:26] tonybaloney opened #75 "Activation event is too broad"
Using '*' activation is usually a bad idea as it impacts performance.
More info: https://code.visualstudio.com/api/references/activation-events#Start-up

[2021-12-08 22:26] #66 closed

[2021-12-09 05:23] CITIZENDOT opened #76 "Pets in Code window"
It would be cool if pets are in the actual code window rather than a separate panel.
Or a toggle switch between the panel and active editor is also better.

[2021-12-09 10:46] lem0n4id commented on #76
Hey, you can move the panel to Explorer pane if you want. (It's not the code window tho)

![image](https://user-images.githubusercontent.com/61219881/145382042-f48e1149-02c9-4cc3-986e-e13da3363713.png)

You can do this by changing the position to explorer in settings
![image](https://user-images.githubusercontent.com/61219881/145382262-e9eab5a1-bff0-4e7b-97d4-9a25e77b4551.png)

[2021-12-09 12:40] Tarang74 opened #78 "Pet interaction "swipe" animates too many times."
Hey!

Would it be possible to animate the pet interaction "swipe" fewer times?
The pet continues to interact 8-9 times even after moving my mouse cursor away from the pet.

Thanks!

[2021-12-09 15:23] TheMoonDawg commented on #63
My little pupper is back! Thanks man!

[2021-12-10 15:54] TheMoonDawg commented on #78
Yeah, I was worried my animation got stuck. He swipes for another 2-3 seconds after you move your cursor away.

[2021-12-11 00:03] SomeSpace opened #81 "Pet interaction with user code"
It would be great if the pet could interact with the open code tab. For example, a cat can lie down on my code and jump off when I erase it.

[2021-12-13 22:37] UCYT5040 opened #82 "Add To Open VSX Registry"
Adding this extension here allows users of VScode that do not use a Microsoft managed version, such as Gitpod.

https://open-vsx.org/

[2021-12-14 01:15] DJREMiX6 opened #83 "Idea for the pets to make them less bulky"
I think, if it's possible, that the pets will be more fun and less bulky if we can have them in the bottom border of the code window, without setting the background and interacting with them with the mouse's cursor so you don't have to have another useless opened window and you can focus more to the code

[2021-12-14 07:29] PouekDEV commented on #51
![image](https://user-images.githubusercontent.com/64737924/145952395-1862828f-d1e9-41d2-9e68-41a906fd5506.png)
Same issue. It's kind of annoying

[2021-12-14 21:04] tonybaloney commented on #81
Duplicate of #73 (the short answer is this isn't possible)

[2021-12-14 21:04] #81 closed

[2021-12-14 21:04] tonybaloney commented on #76
Duplicate of #73 (the short answer is this isn't possible)

[2021-12-14 21:04] #76 closed

[2021-12-14 21:04] tonybaloney commented on #83
Duplicate of #73 (the short answer is this isn't possible)

[2021-12-14 21:04] #83 closed

[2021-12-14 21:06] tonybaloney commented on #82
Thanks, I always attach the VSIX to the release tag if people need to download it separately https://github.com/tonybaloney/vscode-pets/releases/tag/1.9.1

[2021-12-14 21:06] #82 closed

[2021-12-15 06:23] Turkey-Lurkey opened #84 "Yellow Medium Dog not loading properly"
Instead of a dog, I get an interactive broken image icon. I don't mind it... But thought you should know.

![file_pet](https://user-images.githubusercontent.com/64878230/146134375-d794d629-6152-49a4-8bbe-9dc1677d4ab7.JPG)

[2021-12-15 07:07] margath opened #85 "Totoro doesn't have a "play with the ball" .gif in the media folder."
The Totoro-pet is missing the "play with the ball" animation, so we get a broken icon when they try to play with the ball.

[2021-12-15 22:31] tonybaloney commented on #84
dog should only be brown or black, the code should default back to brown if you pick another color. I'll fix that up

[2021-12-15 23:02] Turkey-Lurkey commented on #84
Ah I guess I failed to read the documentation. Classic. Thank you

On Wed., Dec. 15, 2021, 5:31 p.m. Anthony Shaw, ***@***.***>
wrote:

[2021-12-15 23:24] #78 closed

[2021-12-15 23:24] #84 closed

[2021-12-15 23:24] #85 closed

[2021-12-15 23:29] tonybaloney commented on #85
fixed in 1.9.2

[2021-12-15 23:29] tonybaloney commented on #84
fixed in 1.9.2

[2021-12-15 23:29] tonybaloney commented on #78
fixed in 1.9.2

[2021-12-16 03:51] shafiqfikri commented on #51
![image](https://user-images.githubusercontent.com/39353080/146304775-21315a1e-4928-4c4d-991f-3fe1e64d30da.png)
Same issue here. I think I also set it to grey cat before it bugged out.
Reload & reinstalling doesn't work for me.

[2021-12-16 08:19] tonybaloney commented on #51
Fixed in 1.9.2. Cats and dogs can only be brown or black. The settings would let you type anything. Now it will default to brown.

[2021-12-16 18:08] MicaelJarniac opened #87 "Pet sometimes gets blurry, then sharp again"
![Peek 2021-12-16 14-50](https://user-images.githubusercontent.com/19514231/146423120-2a939cad-d317-478c-b3b8-21b85508dee1.gif)

I think the GIF shows it well.

What I noticed is that when it's running around, it's usually sharp, but then if it hits the cursor and plays the hitting animation, it gets blurry, then usually gets sharp again after it's done with the animation and resumes running aroun

[2022-01-04 22:17] 7IBBE77S opened #88 "Add a fish background and fish"
Add a fish background and fish, maybe make it like the game feeding frenzy.

[2022-01-04 22:17] NicTibbetts opened #89 "Add the Golang Gopher"
Add the Golang Gopher. It can run around and dig.

[2022-01-04 22:18] 7IBBE77S opened #90 "Every time the ball is thrown it increases with speed."
Every time the ball is thrown it increases with speed.

[2022-01-05 00:43] Robertkq opened #91 "Support Visual Studio ?"
I really like this extension, and I am really jealous that I can't use this in Visual Studio,
could support for Visual Studio be added ?

[2022-01-06 11:40] marcduiker commented on #89
You can assign this one to me @tonybaloney!

[2022-01-06 20:49] tonybaloney commented on #89
Checkout https://github.com/ashleymcnamara/gophers for artwork

[2022-01-11 21:13] Harry-Hopkinson commented on #91
I am uploading it to the visual studio store as a test. If it works with the native source code I will delete it so @tonybaloney can publish it. As the project is his.

[2022-01-11 21:15] Harry-Hopkinson commented on #91
Try this -> https://marketplace.visualstudio.com/items?itemName=HarryHopkinson.visual-studio-pets
I do not have visual studio installed so can you report back if the extension is working

[2022-01-11 22:25] tonybaloney commented on #91
this certainly won't work. the VSIX is a ZIP format, but the contents are specific to VS Code. Visual Studio extensions are written in c# and compiled as binary libraries.
VS Code extensions are JavaScript and loaded as runtime components

[2022-01-12 07:27] Harry-Hopkinson commented on #91
Ah okay I was experimenting

[2022-01-22 11:52] Mameng57 opened #94 "ball speed is tied to refresh rate"
is there a way to make the ball slower on higher refresh rate? ball jumps like crazy
pets speed are working fine though

[2022-02-07 19:15] Harry-Hopkinson commented on #94
I am having the same problem - I have a high refresh rate monitor and the ball zooms around the screen ridiculously fast compared to a lower refresh rate monitor

[2022-02-09 04:16] tonybaloney commented on #94
https://github.com/tonybaloney/vscode-pets/blob/master/src/panel/main.ts#L222-L225

According to MDN, regular refresh rates will be 60fps (so the pre-programming velocity calculation is correct), but for higher rates this increases.

There isn't anything in the code to do this right now, https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame

[2022-02-14 19:28] gm112 opened #95 "Inline pet into code editor window"
Having the extra panel seems like a sub-optimal use of screen estate. Is it possible within VSCode to have the pets run around behind the code?

[2022-02-14 20:43] tonybaloney commented on #95
Duplicate of #4

The answer sadly is no, this isn't possible.

[2022-02-14 20:43] #95 closed

[2022-02-18 16:13] rubenmacias2 opened #96 "I have added several pets, how can I delete one?"
I have added several pets, how can I delete one?

[2022-02-18 16:15] Harry-Hopkinson commented on #96
I do not think you can remove pets. You can only reset pets from the workspace

[2022-02-18 20:19] Harry-Hopkinson commented on #96
I am working on a new command to remove a selected pet as the send to farm alternate does not seem to work.

[2022-02-21 13:06] Harry-Hopkinson commented on #96
The Reset Pets command does not seem to be working, but I fixed it in this PR #93

[2022-02-22 19:40] asportnoy opened #97 "Pet has a stroke"
If you spam balls, the pet will eventually start to have a stroke. The ball speed also gets turned up waaaaay too high.

https://user-images.githubusercontent.com/14863373/155206330-2c5abab0-8fa5-45a5-8f39-09f46e45f025.mp4

[2022-02-22 19:49] Harry-Hopkinson commented on #97
I will have a look at this

[2022-02-23 03:10] tonybaloney commented on #97
Lol. Poor thing doesn't know which one to chase.

[2022-02-24 18:58] Harry-Hopkinson commented on #97
@tonybaloney where is the throw ball code - as I am working on this issue, I have tried rewriting the throwBall command as stated in this switch statement called by the webview after running the vscode-pets.throw-ball command. I have even tried removing this command altogether but the ball still throws. I was just wondering where is the code to throw the ball as seen in the webview during initiati

[2022-02-28 03:43] #91 closed

[2022-02-28 03:44] tonybaloney commented on #67
There are no plans to implement this

[2022-02-28 03:44] #67 closed

[2022-02-28 03:44] #51 closed

[2022-03-23 00:26] diegocostares opened #99 "Idea for the extension"
It occurs to me that the pet could be in the current workspace and that every certain amount of time (defined in settings), the pet steals lines of code (temporarily hiding them) so that the user takes a break.

[2022-04-03 13:42] Lizardoman opened #100 "Type and color of pet don't change"
Hello to whoever is reading this,
Whenever I try to change the type or the color of my pet, the sprite glitches and disappears for half a second or so, and then reappears just the same as before.
Therefore I can't change the type nor the color of my pet.
I encounter this problem ever since I ran the extension for the first time.
Does anyone have/did have the same problem? If so, how did you work i

[2022-04-03 15:47] Harry-Hopkinson commented on #100
Could you share a video that highlights your issue? I was not able to replicate it.

[2022-04-04 04:03] Lizardoman commented on #100
I fixed it.
I closed the panel and opened another one once I changed the color and type.
Have a nice end of the day.

[2022-04-04 06:28] Harry-Hopkinson commented on #100
To you too.

[2022-04-30 11:31] novemberkid11 opened #102 "Deleting pets"
Hello,
I am unable to remove pets in the 1.10.0 version. Also, one "pet" (I genuinely don't know which one it's supposed to be) looks like an image icon and runs around (it's the default now and I cannot change it to anything else). How could I fix this? I tried uninstalling and installing it again, I ran it a couple of times, the version 1.9.0 worked fine restarting the whole thing also doesn't d

[2022-04-30 11:42] Harry-Hopkinson commented on #102
We fixed this issue but it is not in the current release. In the next release this issue will be fixed.

[2022-04-30 11:59] novemberkid11 commented on #102
That's awesome. Thank you very much!

[2022-05-02 09:51] IanAMacMillan opened #103 "Can you have the explorer section get smaller"
When I have the explorer section selected, the dog only uses the bottom part of the section it would be nice to be able to make the window smaller by moving down the top. This makes sense when there is no theme on.

 Also, it would be cool if the dog slept more often. It would be cool to just look down and see my sleeping dog :)

Love the package! It is great!

[2022-05-02 10:01] IanAMacMillan opened #104 "Pet changing size"
https://user-images.githubusercontent.com/25908878/166217261-8e09a24e-613e-430f-92d9-e0f22c83d556.mov

It seems that the cat is changing sizes when it does stuff like chase the ball and swipe the curser. I'm not sure if this is on purpose.

[2022-05-02 15:16] Harry-Hopkinson commented on #104
I think the idling animation is larger than the swiping animation. I do not do any animation so I do not have the sufficient skills required to fix this issue.

[2022-05-21 23:29] doinkythederp opened #105 "Pet reactions to external events"
Right now the pets seem to have no idea what is happening outside their frame. It would be great if they could get excited when all my tests pass, or confused when my code doesn't compile or gives errors. I don't really know how VSCode extension development works, so I'm not sure how realistic it is to be integrating with external tools like this.

[2022-05-27 11:20] Harry-Hopkinson commented on #102
@tonybaloney this issue can be fixed.

[2022-05-27 11:21] Harry-Hopkinson commented on #96
@tonybaloney can you release the new changes, from which this issue is fixed?

[2022-06-01 15:19] tarazoelee opened #109 "add brighter backgrounds!"
Would love to see a cute field for the pets to play in or something bright and colorful.

[2022-06-07 18:25] EstyBrandes opened #111 "Who wants to addopt?"
Hi there, I'm having some difficulities with erasing added animals. I had my duck, just wanted to see the other animals, but I can't delete them. I couldn't find a way to reset the settings, even after uninstalling, after shutting down my computer, after reseting everything that I could - nothing, I can understand they want a home, but I can't afford all those animals at my workspace.
Help me with

[2022-06-07 20:39] Harry-Hopkinson commented on #111
There are no commands that delete pets, but there is a reset pets command.

[2022-06-08 03:57] EstyBrandes commented on #111
It does nothing to the pets, I've tried it all

On Tue, Jun 7, 2022, 23:39 Harry Hopkinson ***@***.***> wrote:

[2022-06-08 20:30] Harry-Hopkinson commented on #111
Can you show a video?

[2022-06-09 14:45] EstyBrandes commented on #111
https://user-images.githubusercontent.com/95626359/172875392-5b045224-c9c0-4b5e-83ea-790c68a895c4.mp4

I've tried it all. All the resets I found in the app, tried to uninstall and install again, tried to exit VScode and enter again. nothing

[2022-06-09 14:58] EstyBrandes commented on #111
It worked, but now it won't let me chose again something that is not the default cat hahaa

[2022-06-21 06:39] cmhernandezdel opened #113 "Add a hedgehog as a pet"
Hedgehogs are the cutest animals on Earth, we are clearly lacking one.

[2022-06-27 23:41] HipHopHuman commented on #94
Hi, I experienced this issue as well and I unfortunately don't have the time to contribute with a pull request right now, but I can help with an insight.

If you want to normalize the velocity of an object between different monitor refresh rates, the trick is to tie the velocity to the difference in real time between frames:

[code]

The `Math.min` trick above is enough to prevent things like the

[2022-07-20 13:16] rrdlpl opened #117 "How can I add the pets without the panel?"
The panel takes up too much space and I actually want to see the pets running on my code. :)

[2022-07-21 23:27] LaikaN57 commented on #3
Similarly, I like the reward system proposed here: https://github.com/tonybaloney/vscode-pets/issues/18

Or at least make it configurable maybe.

[2022-07-26 22:13] Koratsama opened #119 "Spamming the throw-ball button increases speed of the ball."
When clicking the throw-ball button repeatedly on the explorer view of vs code pets, the speed of the ball increases each time until a pet has caught the ball. The ball jumps around really quickly after hitting the button multiple times in succession.

![image](https://user-images.githubusercontent.com/14094188/181121000-027b3924-531f-4183-8814-7e292ac7912c.png)

This also seems to confuse the pet

[2022-08-02 10:02] Valenwe commented on #117
+1 !

[2022-08-02 14:04] Valenwe opened #120 "Error while spawning pet"
If I change the extension's settings Position from Panel to Explorer,
I am now unable to spawn any pet, displaying me the error 'Cannot read properties of undefined (reading 'webview')'

[2022-08-02 21:30] DigitalJokerMan commented on #117
+1, feels pointless to allocate screen space for the pet.

[2022-08-03 02:44] tonybaloney commented on #117
I know everyone wants this feature, it's been requested many, many, times!

But it's not possible to implement in the VS Code extension API. The pets must be inside a panel, extensions cannot render graphics onto the code editor.

[2022-08-03 08:11] Valenwe commented on #117
Hmmm I see...
Is there ways to render it in other pre existing panels? Like file explorer, or little nav bar on the top or the bottom?

[2022-08-05 15:09] 0xNike opened #121 "Add white-colored dogs"
I'm guessing most of us are using a dark-themed VS Code. Having black / brown dogs makes it hard to see. Can we add white as an option? Also, my Westie dog passed away recently, would be nice if the white dog is a Westie ❤️

[2022-08-05 21:23] dzdotme opened #122 "can't delete pets"
can't seem to get rid of additional pets no matter what. tried a lot of things

[2022-08-06 05:55] mattleew123 opened #123 "Trouble downloading"
Hey sorry to bother you I've been trying to download the extension for an hour now. When I try to look it up on the vs extensions it doesn't show up and when I try to download it manually by double clicking on the file I still can't get it to work. Is there any way I can download it still? I would love to your extension would bring me so much joy.
<img width="709" alt="Screenshot 2022-08-05 225425

[2022-08-06 06:30] Harry-Hopkinson commented on #123
The extension is only for Visual Studio Code, not Visual Studio.

[2022-08-08 05:35] tonybaloney commented on #121
I'm so sorry to hear that. I'll see what I can do

[2022-08-08 06:54] tonybaloney commented on #121
@0xNike Checkout #124 to see previews

[2022-08-08 07:07] tonybaloney commented on #121
![screenshot 2022-08-08 at 17 06 24](https://user-images.githubusercontent.com/1532417/183359564-59099373-1c15-490e-8484-59b572ce97ee.gif)
here's a screenshot from inside the panel

[2022-08-08 21:31] #121 closed

[2022-08-09 02:12] 0xNike commented on #121
@tonybaloney so sorry I just saw this! I LOVE IT!!! THANK YOU ANTONY ❤️  You've made my day 🥲

[2022-08-09 22:42] #123 closed

[2022-08-09 22:43] tonybaloney commented on #117
nope.

[2022-08-19 22:44] tonybaloney opened #126 "Write long-form answer on StackOverflow"
This question has been viewed 7k times

https://stackoverflow.com/questions/70259033/how-do-i-use-vscode-pets

The responses are ok, but a more detailed answer with screenshots and a walkthrough would be better.

[2022-08-19 22:45] tonybaloney commented on #111
To change the default pet, you have to go to preferences, look for the vscode-pets settings and change the pet.

[2022-08-19 22:45] #111 closed

[2022-08-22 00:04] #102 closed

[2022-08-22 00:04] #122 closed

[2022-08-22 00:34] tonybaloney commented on #96
Use the `vscode-pets.delete-pet` command from the command pallets. Added in 1.12.0

[2022-08-22 00:34] #96 closed

[2022-08-22 00:35] #117 closed

[2022-08-26 09:43] Harry-Hopkinson opened #127 "Remove all Pets Command throws error."
The Remove All Pets command throws an error when running.

![error](https://user-images.githubusercontent.com/63599884/186876588-7b36eced-c1fb-4ba8-b7d5-c66472868511.PNG)

[2022-08-26 13:55] Harry-Hopkinson commented on #120
Working on this error now.

[2022-08-30 06:04] #127 closed

[2022-08-30 06:05] #120 closed

[2022-09-01 13:08] littlepurpleflower opened #130 "Panel vs. explorer"
I'm having issues with running my pet into the explorer.

At some point, I deleted the spawning cat and now I have an empty explorer VS code drop down. When I spawn a new pet (through prompt or by manually clicking +), it opens a new panel and loads the pet. Regardless of the explorer setting I have, it always loads in a panel.

When I go to delete pets from the new panel that is open, I have to g

[2022-09-05 06:55] tonybaloney commented on #130
Did this issue always exist or has it just started recently?

[2022-09-06 16:01] littlepurpleflower commented on #130
This is my first time using VS pets. So, recently, I suppose.

As of now, only the panel behaves properly. I can't get any animal to spawn in the explorer.

[2022-09-07 01:59] tonybaloney opened #131 "Spawning pet in explorer opens panel"
Seems to be a regression from #129

Related to #130

[2022-09-07 02:20] #131 closed

[2022-09-07 02:34] tonybaloney commented on #130
I've pushed a patch 1.13.1 that fixes the bug with spawning pets.

When testing, I could set the background and throw the ball using both the explorer and the panel.

Let me know if there are any remaining issues once you've updated

[2022-09-08 06:47] themaxermister opened #134 "Rabbits plsssssss"
Please add bunnies to the list of pets! :D

[2022-09-20 13:16] littlepurpleflower commented on #130
It works now, thanks!

[2022-09-27 07:34] samyukthasudhakar commented on #126
Hi @tonybaloney ! I'd like to take this up and work on it. Can you assign it to me please. Thanks !

[2022-09-27 09:53] tonybaloney commented on #126
Sure! thanks

[2022-09-28 13:03] schwrzstrbn commented on #89
any updates? T_T

[2022-09-28 13:37] muuvmuuv commented on #109
Yeah that would match my light theme pretty well :D

[2022-09-28 20:48] LanguageXange opened #135 "[ ERROR ] - Unable to Remove All Pets"
I tried to run the command "Remove all pets" but the command seems not found
See attached screenshot

![Command-Error](https://user-images.githubusercontent.com/23568340/192885101-41bd9461-2a7e-475c-94d7-ed47449c437f.png)

To remove all pets, I had to run the command "Remove pet" several times ( it gave me a dropdown menu of pets currently in the panel )

[2022-09-28 21:05] Milo123459 commented on #4
Has this changed at all recently? Is it possible?

[2022-09-29 01:28] CHANG-CHING-CHUNG opened #136 "The pet keeps doing action after I clicked on it."
As the title says, if you click on it, the pet starts doing action and never stops, unless you close the panel and start it again.

![CleanShot 2022-09-29 at 09 24 44](https://user-images.githubusercontent.com/54635661/192917518-31fd34a1-b34c-4936-bae0-ba2b6a81471f.gif)

# VS code version
1.71.2

# Hardware info
Model Name: MacBook Pro
Model Identifier: MacBookPro18,3
Chip: Apple M1 Pro
Total Numb

[2022-09-29 09:40] Harry-Hopkinson commented on #135
I fixed this in #133, just waiting for it to be merged.

[2022-09-29 11:32] marcduiker commented on #89
I haven't started it yet 😬 . But I'll pick this up in Oct!

[2022-09-29 12:15] schwrzstrbn commented on #89
I think you can use this.

https://github.com/egonelbre/gophers

[2022-09-29 13:51] FurkanEdizkan opened #137 "We need Tamagotchi sytle activites."
Tamagotchi style activities can be cool to have, this extension can be great relaxing time game.

- Feed pets
- Pet animals
- Interact with them

[2022-09-29 14:31] Igonorant opened #138 "Random spawn/remove pets"
Would be nice to from time to time spawn or remove a random pet, so every time you look to the panel it would have different pets and interactions :)

[2022-09-29 14:35] ayoub3bidi opened #139 "We need Octocat"
I think adding Octocat to the pets collection will be fun and pretty accurate since some of the users of this extension are open sourcerers.

[2022-09-29 16:45] leereilly opened #140 "Command 'vscode-pets-delete-pets' not found 🐈‍⬛ 🐍 🐩 ❌"
Hi there -  I experience the following error when I enter <kbd>⌘</kbd> <kbd>SHIFT</kbd> <kbd>P</kbd> and select `Pet Coding: Remove all pets` 🔎

![Screen Shot 2022-09-29 at 9 39 25 AM](https://user-images.githubusercontent.com/121322/193089492-9ffaa911-0012-4420-a5e6-2d38526d0aab.png)

This is using GitHub Codespaces if that's relevant here.

[2022-09-29 18:51] kbluescode commented on #140
Replicated without Codespaces on M1 Mac
<img width="1690" alt="image" src="https://user-images.githubusercontent.com/11985485/193117639-7cc30c3f-05e0-4fe9-b8e5-fe5d06f57931.png">

[2022-09-29 18:52] kbluescode commented on #140
Looks like there's a fix in https://github.com/tonybaloney/vscode-pets/pull/133

[2022-09-29 19:31] rosinaflrz opened #141 "mac m1 doesn't work?"
I just trying to change configuration but doesn't work, i can't change the animal or color :(

[2022-09-29 20:19] michael-hawker opened #142 "Add Llama as a pet"
🦙

Llama are cool these days. We need a dromedary companion.

Is there any guidance or docs in the repo somewhere around what's required to add a new pet in terms of code and animation frames/cycles (and how the existing ones were produced in terms of software and other art guidance)?

[2022-09-30 01:00] tonybaloney commented on #140
Please update the extension to 1.13.2, it might take a few hours for it appear in the Extensions Panel

[2022-09-30 01:00] #140 closed

[2022-09-30 01:00] tonybaloney commented on #135
Please update the extension to 1.13.2, it might take a few hours for it appear in the Extensions Panel

[2022-09-30 01:00] #135 closed

[2022-09-30 02:15] tonybaloney opened #143 "Hacktoberfest contributions"
Hello!

This project is open to hacktoberfest contributors.

## Easy to start with contributions

- What about adding some [additional pet names](https://github.com/tonybaloney/vscode-pets/blob/master/src/common/names.ts)?
- What about improving the instructions in the README?
- Are there any [open issues](https://github.com/tonybaloney/vscode-pets/labels/help%20wanted) you can fix?

## Drawings a

[2022-09-30 02:27] abigmiu commented on #120
it seems not work

![image](https://user-images.githubusercontent.com/43983920/193176852-4338d4d9-bc36-4ee2-803d-471604774a50.png)

vscode version
[code]

extension version
![image](https://user-images.githubusercontent.com/43983920/193176964-65a9bf90-5d31-4958-ad8d-2a6915194c06.png)

[2022-09-30 03:03] tonybaloney commented on #120
What steps did you do to make this error appear?

[2022-09-30 03:16] tonybaloney commented on #120
Ah I see now, yes if you have the explorer mode set and the pets panel not visible, then you cannot send commands (like delete all pets) to the view. I will update the error to be more meaningful.

[2022-09-30 03:17] tonybaloney opened #144 "Running commands in explorer mode without panel visible causes error"

[2022-09-30 04:38] #144 closed

[2022-09-30 10:40] amitanshusahu commented on #143
### i would like to work on this
can i get this assigned ..  😄

[2022-09-30 23:07] tonybaloney commented on #143
This is more of a list of possible things you can do. If you want to work on one of those, raise a separate issue with what you're doing then a PR linked to it 👍🏻

[2022-10-01 00:54] tonybaloney opened #148 "Remove "un-cat" like names from names.ts"
See https://github.com/tonybaloney/vscode-pets/blob/master/src/common/names.ts#L1

[2022-10-01 00:54] tonybaloney opened #149 "Remove "un-dog" like names from list"
See DOG_NAMES in https://github.com/tonybaloney/vscode-pets/blob/master/src/common/names.ts#L1

[2022-10-01 02:07] Mannuel25 commented on #148
Hello @tonybaloney , I'd love to work on this issue. But, could you please clarify what you mean by `un-cat like names`

[2022-10-01 02:10] tonybaloney commented on #148
I copied the list of dog and cat names. So some of the cat names are things like Baxter, which is a dog name

[2022-10-01 02:14] Mannuel25 commented on #148
Oh, now it's clear. I will remove whichever name that's not a cat's. Kindly assign this to me, I'd like to work on it.

[2022-10-01 02:17] tonybaloney opened #161 "Verify that the index of all pet names is sequential"
Write a test that goes through each list of pet names and verifies that the index (the first part of the map) is sequential.

OR write a better map that doesn't require numeric indexes

[2022-10-01 02:19] tonybaloney opened #162 "Add more rock-puns to names"
See https://github.com/tonybaloney/vscode-pets/blob/master/src/common/names.ts#L300-L312 and extend the list with additional names.

[2022-10-01 02:19] slayeh17 commented on #148
Hey @Mannuel25 if you need some help, I'll gladly do it cause I also want to work on this.😊

[2022-10-01 02:21] tonybaloney commented on #148
I suggest one of you does dogs and the other does cats

[2022-10-01 02:22] Mannuel25 commented on #148
Okay, I'll do the dogs, while @slayeh17 handles the cats.

[2022-10-01 02:22] slayeh17 commented on #149
Hey @tonybaloney what if I remove some names which are dog-like?😅 I mean some names seem to me un-dog like but they might seem to you dog-like.

[2022-10-01 02:35] tonybaloney commented on #149
Go for it 👍🏻

[2022-10-01 02:50] tonybaloney commented on #148
Someone has already submitted a PR. So this one is taken now. I'll put more ideas in the backlog. Submitted PRs come first unfortunately

[2022-10-01 02:54] Mannuel25 commented on #148
Oooops, okay. Thank you

[2022-10-01 02:55] #148 closed

[2022-10-01 02:56] #149 closed

[2022-10-01 03:44] vydyas commented on #161
@tonybaloney  can you assign this bug to me. As part of hacktoberfest I'll fix this.

1. Assign the bug
2. I'll raise PR in 2 days
3. job done

[2022-10-02 12:31] vydyas commented on #161
@tonybaloney  can you merge you pull request. There is no test setup in master branch.

[2022-10-03 08:08] tonybaloney commented on #161
Is now merged

[2022-10-03 08:10] tonybaloney opened #172 "Add roll-call feature"
Pets are currently assigned names from a list, but there is now way to see what pets you have and what their names are (other than the remove list and the friendship announcements)

We need an action for a roll-call where each pet announces themselves using the notifications channel.

This also opens up the testing for custom names

[2022-10-03 08:10] tonybaloney opened #173 "Add the ability to set a custom name for a pet"
When adding a pet, it should auto-assign a name or give the ability to set a custom name

[2022-10-03 08:11] tonybaloney commented on #119
Fixed in main

[2022-10-03 08:11] #119 closed

[2022-10-03 08:11] #90 closed

[2022-10-03 17:48] Harry-Hopkinson commented on #172
I can work on this.

[2022-10-03 21:31] ccjmne commented on #173
I'm on it! 😄

[2022-10-03 22:18] ccjmne commented on #161
@vydyas I don't know if you've started working on this, but I suggest we opt for

... if possible! I think the code would be leaner and simpler :)

[2022-10-04 00:27] JavaVista opened #177 "Add 2 new crab names"
I want to add two new cool names for your list of crabs

[2022-10-04 00:31] JavaVista commented on #177
Here is my PR for your consideration #178

[2022-10-04 03:54] #177 closed

[2022-10-04 17:33] SanderRonde opened #179 "When not choosing a color, a pet with no image is spawned"
First of all I want to say that I love this extension.

## The bug

When spawning a pet but not choosing a color (pressing escape), a pet with the missing-image image is spawned.

To reproduce:
- Run `Pet coding: spawn additional pet`
- Choose `cat`
- Press escape

Then a pet with the missing-image image is walking around
![image](https://user-images.githubusercontent.com/5385012/193887303-f2d9c2c

[2022-10-04 17:38] Harry-Hopkinson commented on #179
I will look at this

[2022-10-05 02:58] #172 closed

[2022-10-05 14:58] jailbreakerVC opened #180 "Pets tend to overlap when moving around"
![image](https://user-images.githubusercontent.com/54243183/194092912-0c591aca-1a1f-41d8-b976-1b823824e777.png)
Duck and crab are basically stuck together

[2022-10-05 23:35] #173 closed

[2022-10-05 23:36] tonybaloney commented on #180
They get assigned a random position, I think it was an unlucky coincidence that they spawned next to each other.

A potential improvement would be to space out the pets when setting up the panel

[2022-10-06 13:14] meudeustadeu opened #181 "pet walking in separate flap"
![image](https://user-images.githubusercontent.com/71295557/194322118-47e16100-ad0a-4f92-864e-50c3eb9fab31.png)

hello, I loved the extension, I really want to use it, but I'm not getting it anymore, after making a configuration, the pet no longer walks all over the screen, but through a separate tab according to the print.

[2022-10-07 02:20] tonybaloney commented on #180
<img width="132" alt="screenshot 2022-10-07 at 13 18 51" src="https://user-images.githubusercontent.com/1532417/194452977-0b4c9592-31f6-4955-8763-e5325cefb60a.png">
I've got the same thing, its really annoying. I think adding an element of randomness to their speed would spread them out naturally

[2022-10-07 02:36] #179 closed

[2022-10-07 02:40] tonybaloney opened #183 "Add a random modifier (+/- 30%) to pet speed"
In order to randomise the speed of pets, the speed (0-5) should be randomised by +/- 30%.

For example, when the pet speed is PetSpeed.normal (3) then a pet speed could be

3.13, 3.04, 2.95, 3.25

Speed of 0 should still be 0, because this is the rock, which cannot move.

https://github.com/tonybaloney/vscode-pets/blob/fb11781940662b58f862b7b613794d14ce3e0b39/src/panel/pets.ts#L224

[2022-10-07 02:44] tonybaloney commented on #180
Related #183

[2022-10-07 03:03] jyorien commented on #183
hi i would like to work on this:)

[2022-10-07 03:14] tonybaloney opened #184 "Add a custom message for Totoro"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L513-L516

[2022-10-07 03:14] tonybaloney opened #185 "Add a custom message for cat"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L591-L594

[2022-10-07 03:15] tonybaloney opened #186 "Add a custom message for dog"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L658-L661

[2022-10-07 03:15] tonybaloney opened #187 "Add a custom message for snake"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L715-L718

[2022-10-07 03:15] tonybaloney opened #188 "Add a custom message for clippy"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L764-L767

[2022-10-07 03:15] tonybaloney opened #189 "Add a custom message for clippy"
[code]

https://github.com/tonybaloney/vscode-pets/blob/617da1ccb49dfa9e0d6350000f11a980bb5179a2/src/panel/pets.ts#L765

[2022-10-07 03:16] tonybaloney opened #190 "Add a custom message for duck"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L813-L816

[2022-10-07 03:16] tonybaloney opened #191 "Add a custom message for cockatiel"
Replace the existing message with something better for this pet

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L862-L865

[2022-10-07 03:16] tonybaloney opened #192 "Add a custom message for crab"
[code]

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L911-L914

[2022-10-07 03:16] tonybaloney opened #193 "Add a custom message for zappy"
[code]

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L960-L963

[2022-10-07 03:17] tonybaloney opened #194 "Add a custom message for rock"
[code]

https://github.com/tonybaloney/vscode-pets/blob/58a4b6d61a5373babeb4a1b750dfa9b26645375f/src/panel/pets.ts#L991-L994

[2022-10-07 03:18] #189 closed

[2022-10-07 03:28] tonybaloney commented on #97
Fixed in #167

[2022-10-07 03:28] #97 closed

[2022-10-07 03:33] akk312000 commented on #192
Can I give this a try? @tonybaloney

[2022-10-07 03:35] akk312000 commented on #190
Would love to work on this issue

[2022-10-07 03:37] akk312000 commented on #188
Can I take this issue @tonybaloney ?

[2022-10-07 03:37] tonybaloney commented on #188
Yep!

[2022-10-07 03:38] tonybaloney commented on #190
Sure!

[2022-10-07 03:39] tonybaloney commented on #183
Great!

[2022-10-07 03:39] tonybaloney commented on #192
Sure!

[2022-10-07 03:54] mehraankush commented on #194
what kind of message

[2022-10-07 04:06] tonybaloney commented on #109
![Hills](https://user-images.githubusercontent.com/1532417/194463726-1f1d2332-d527-42d8-af36-92dfe3c8b921.png)

I tried a beach theme as well (needs scaling) which works well with light themes

<img width="1279" alt="screenshot 2022-10-07 at 15 02 05" src="https://user-images.githubusercontent.com/1532417/194465730-50a28942-4319-4c9b-837b-32fdec626b00.png">

[2022-10-07 04:06] tonybaloney commented on #194
Whatever a rock might say instead of "hello"

[2022-10-07 04:09] mehraankush commented on #194
ok i'll try that

[2022-10-07 04:56] #69 closed

[2022-10-07 04:56] #109 closed

[2022-10-07 05:10] Aman0307 commented on #193
@tonybaloney I would like to contribute to this issue

[2022-10-07 05:11] Aman0307 commented on #186
@tonybaloney I would like to contribute to this issue.

[2022-10-07 05:27] gulyapulya commented on #185
Hello @tonybaloney, this is my first Hacktoberfest and I would love to work on this issue! Also, wanted to mention that the general idea of the project is also so fun and cool... One question, should the new message be for or from a cat pet?

[2022-10-07 05:33] Harikrishna3 commented on #194
What would happen if it said, "I always rocks"?

[2022-10-07 05:34] Harikrishna3 commented on #194
Or "Yo Yo its rock"

[2022-10-07 05:37] tonybaloney commented on #186
All yours @Aman0307

[2022-10-07 05:38] tonybaloney commented on #185
@gulyapulya sure you can work on this issue.

The message is from the pet, so replace `says hello !` with something that a cat might say :-)

[2022-10-07 05:39] tonybaloney commented on #185
@gulyapulya please tell me how you found this repository on github?

[2022-10-07 05:56] Aman0307 commented on #186
@tonybaloney this message is from our side to the dog right?? We are saying hello to the dog??

[2022-10-07 05:58] gulyapulya commented on #185
@tonybaloney I was looking through the issues with "Hacktoberfest" label and focused on the repos with at least a few starts and found this one. I have not used or known this this extension but I quickly checked out the README and generally the code and the idea looked very cool to me. Plus, the code organization is really nice and easy to navigate, thanks for that. I personally use VScode and thi

[2022-10-07 06:00] tonybaloney commented on #186
Message is from the dog to us. So "woof" would be a good start.

[2022-10-07 06:05] Aman0307 commented on #186
How about this??
Every dog has its day - and today is woof day! Today I just want to bark.

[2022-10-07 06:06] #185 closed

[2022-10-07 06:07] #183 closed

[2022-10-07 06:16] Pratham16121 commented on #191
Can you assign me this one?

[2022-10-07 06:21] Aman0307 commented on #186
@tonybaloney I have made a PR. Please merge.

[2022-10-07 06:22] jyorien commented on #181
Did you want the pet to be on the left panel like here?
![image](https://user-images.githubusercontent.com/58991251/194480287-ab1ae843-2bed-4d6a-8fe6-514fc6d8bba9.png)

If so, you can: <br>
1. Go to Extensions ![image](https://user-images.githubusercontent.com/58991251/194480491-baf34f84-8bd6-4e54-a218-f3152e06937d.png) on the left panel <br>
2. Click the Gear icon > Extension Settings <br> ![imag

[2022-10-07 07:13] Neos21 commented on #69
Love!!!! 👍🏻❤️

[2022-10-07 08:30] batunpc commented on #184
@tonybaloney could you assign it to me ! :octocat:

[2022-10-07 08:39] #186 closed

[2022-10-07 09:14] Ladam0203 commented on #187
Hey, I'd love to take this :)

[2022-10-07 09:17] Sekiraw opened #200 "Pet won't stop spinning"
If you spawn two or more pets and keep throwing balls at them, one of them will start spinning and the other is going towards it and it will start spinning too, this will not stop until you delete one of them. Needs a bit of time but happens every time.

Example
![image](https://user-images.githubusercontent.com/90633951/194519299-88ce194c-eeb0-4a33-9b89-de3c5cecf820.png)

[2022-10-07 10:06] #184 closed

[2022-10-07 10:29] #194 closed

[2022-10-07 10:30] #187 closed

[2022-10-07 11:35] Aman0307 commented on #193
@tonybaloney what is zappy???
Which animal??

[2022-10-07 20:28] tonybaloney commented on #193
The lightning bolt. It's a mascot for Azure Functions

[2022-10-09 04:18] #180 closed

[2022-10-09 04:34] #192 closed

[2022-10-09 04:34] tonybaloney commented on #193
Completed by #207

[2022-10-09 04:34] #193 closed

[2022-10-09 06:24] #188 closed

[2022-10-09 15:07] jimbobbennett opened #211 "Add a polar bear"
As the title - this NEEDS a polar bear (cos polar bears are the best!)

 🐻‍❄️

[2022-10-09 21:29] brenda70904 opened #215 "Please add the description for how to find the command palette to README.md"
There are lots of beginners and I think it would be nice to add a little bit more directions to README.md!
for MacBook : command + shift + p

[2022-10-09 21:36] shawnspears opened #216 "Add spooky cat and dog names for Hacktoberfest"
I'm going to link a PR that adds a few spooky cat and dog names in honor of Hacktoberfest 🎃

[2022-10-09 21:43] ggrossvi opened #218 "Add how to get to user settings to change pet color from the readme documentation"
Folks might not realize how to get to the User settings to change the Pet color from the readme instructions.  I would like to work on adding this to documentation for Hacktoberfest.

[2022-10-09 23:00] tonybaloney commented on #215
Windows and Linux is CTRL + SHIFT + P.

Pull-requests welcome :-)

[2022-10-09 23:00] tonybaloney commented on #216
Closed in #217

[2022-10-09 23:00] #216 closed

[2022-10-10 00:05] tonybaloney commented on #190
Completed in #206

[2022-10-10 00:05] #190 closed

[2022-10-10 19:47] MariaSolOs commented on #100
@Harry-Hopkinson Could I take this? It makes sense to restart the session when the pet type/color changes :)

[2022-10-10 20:21] kev-odin commented on #143
Hello @tonybaloney

I was wondering if using another FOSS to support the pixel art component would be viable. Something like using [Pixelorama](https://github.com/Orama-Interactive/Pixelorama). Is there a list of behaviors that need to be animated? I was not able to find this in the readme.md

[2022-10-10 22:01] kjaymiller opened #221 "Add Code of Conduct"
Hi, I noticed the project is lacking a code of conduct.

I would love to submit a PR including the Contributor Code of Conduct as a starting point.

I would love for you to provide the proper communication point in PR.

[2022-10-10 23:01] tonybaloney commented on #221
Fixed in #222

[2022-10-10 23:01] #221 closed

[2022-10-10 23:19] tonybaloney opened #223 "Translate the basic string file to Spanish"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.es.json`
3. Edit the file to replace all the English strings to Spanish
4. Submit a PR

[2022-10-10 23:20] tonybaloney opened #224 "Translate the basic strings file to French"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.fr.json`
3. Edit the file to replace all the English strings to French
4. Submit a PR

[2022-10-10 23:22] tonybaloney opened #225 "Translate the basic strings file to Chinese Simplified"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.zh.json`
3. Edit the file to replace all the English strings to Chinese Simplified
4. Submit a PR

[2022-10-10 23:22] tonybaloney opened #226 "Translate the basic strings to German"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.de.json`
3. Edit the file to replace all the English strings to German
4. Submit a PR

[2022-10-10 23:23] tonybaloney opened #227 "Translate the basic strings to Portuguese"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.pt.json`
3. Edit the file to replace all the English strings to Portuguese
4. Submit a PR

[2022-10-10 23:23] tonybaloney opened #228 "Translate the basic strings to Dutch"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.nl.json`
3. Edit the file to replace all the English strings to Dutch
4. Submit a PR

[2022-10-10 23:25] tonybaloney opened #229 "Translate the basic strings to Hindi"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.hi.json`
3. Edit the file to replace all the English strings to Hindi
4. Submit a PR

[2022-10-10 23:25] tonybaloney opened #230 "Translate the basic strings to Korean"
Steps:

1. Clone this repo
2. Copy the `package.nls.json` to `package.nls.ko.json`
3. Edit the file to replace all the English strings to Korean
4. Submit a PR

[2022-10-10 23:30] tonybaloney commented on #143
You can use any tool to make the animations, as long as they are at 8 frame-per-second and in the pixelated style used in the extension. The minimum set of behaviours is:

- standing
- walking
- running/chasing
- holding green ball

[2022-10-10 23:45] tonybaloney commented on #215
Resolved in #220

[2022-10-10 23:45] #215 closed

[2022-10-10 23:47] tonybaloney commented on #94
Was fixed in #167

[2022-10-10 23:47] #94 closed

[2022-10-10 23:49] joao-vitor-souza commented on #227
!assign

[2022-10-11 00:17] oleksis commented on #223
Hi 👋🏾 I can help with this Issue. Can assign to me ?

[2022-10-11 01:27] devXprite commented on #229
Hii @tonybaloney I want to work on this issue.

[2022-10-11 01:36] #227 closed

[2022-10-11 01:36] tonybaloney commented on #229
@devXprite sure!

[2022-10-11 01:59] #223 closed

[2022-10-11 02:22] oleksis commented on #224
Can assign to me please?

[2022-10-11 08:47] emveleva opened #237 "Send pet to a friend who also has the extension installed"
Awesome app!
I was wondering if it's possible to add this feature in the future - connect with friends who also use the extension and send them your pet or they send theirs temporarily. Like when you are bored and want to check on them or when you need their help with something.

[2022-10-11 09:14] AnneKir opened #238 "Add Danish translation"
Hey do you want a Danish translation for the basic strings as well @tonybaloney ? :)

[2022-10-11 10:12] tonybaloney commented on #238
Sure!

[2022-10-11 10:13] #224 closed

[2022-10-11 10:37] #191 closed

[2022-10-11 10:38] tonybaloney commented on #237
Hmm. I like this idea. It would work well for pair programming, if your pets would hang out together 🤔

[2022-10-11 10:48] andrewdoro opened #241 "Translate the basic strings to Romanian"
Hey, I could help with the translation of basic strings in Romanian.:)) @tonybaloney what do you think?

[2022-10-11 12:21] ShabanaNaik commented on #126
Hello to @tonybaloney @samyukthasudhakar.
I would like to know if this issue is still being worked upon by @samyukthasudhakar.
If you aren't, then I would like to request that you transfer the issue to me. I would be happy to work on this. 😊

[2022-10-11 12:26] ShabanaNaik commented on #45
Hello @tonybaloney, this seems really interesting!!
I would like to look into this and add enhancements. Please let me know if this feature is still open for others to work upon

[2022-10-11 12:52] ccjmne commented on #161
Hey @vydyas, @tonybaloney,

It seems there hasn't been much progress on this issue.
I'd be happy to take it on, if I'm not treading on anybody's toes :)

I have some time today and I already looked into this issue when implementing custom names for pets!

[2022-10-11 13:38] MhouneyLH opened #242 "Adding a chicken as a new pet🐔"
I am missing my favourite pet - the chicken, so I would like to add it.

I think of like a grain-picking animation, after the chicken was spawned. In additition it should jump and then slowly flies down to the bottom again.
One problem I will have is to design the chicken in a pixel-art way. Is there anyone who could deal with this or should I just use the art of other people?

[2022-10-11 13:49] dragontheory opened #243 "How about a pet that can fly around and perch on your code..."
Like... a little pet dragon...

[code]

Maybe it could even breath a little fire and smoke on your code.

[code]
Makes a glyph or two disintegrate. Bad dragon!

Of course you'd have to feed him to keep from eating your code...

[code]

Maybe a thought bubble every 5 or 10 minutes (user variable) that says...

[code]

Then maybe a speech bubble that says...

[code]

And then users could type a few

[2022-10-11 16:54] #238 closed

[2022-10-12 04:22] #226 closed

[2022-10-12 05:51] tonybaloney opened #249 "Extension not activating in 1.15.0"
There was a missing dependency in the manifest for https://github.com/tonybaloney/vscode-pets/releases/tag/1.15.0

Fixed in 1.15.1

[2022-10-12 06:55] tonybaloney commented on #243
That would be cool, but due to limitations noted in #117 #4 and many other issues, it's not possible.

All graphics must live inside a panel.

[2022-10-12 06:55] #243 closed

[2022-10-12 06:56] tonybaloney commented on #241
Sure! Just follow the translation instructions for other languages, e.g. #224

[2022-10-12 06:58] tonybaloney opened #250 "Why is the pet in a panel? Can't it run around the code?"
Pinning this issue since it seems to get asked once every week.

The pets must live inside a panel because this is how the VS Code Extensions work.

IF you want custom graphics that aren't text (e.g. little cats and dogs), they must live within a web panel. This panel has to be a tab inside the editor, or on the explorer.

So no, it's not possible. If it becomes possible, I'll unpin this issue and

[2022-10-12 06:59] tonybaloney commented on #181
See #250

[2022-10-12 06:59] #181 closed

[2022-10-12 06:59] #130 closed

[2022-10-12 07:00] tonybaloney commented on #141
Please can you record your screen doing this task and include it in the issue

[2022-10-12 11:17] dragontheory commented on #243
Ah. Seems I'm a little late to the party. Thank you for your response and this great extension. Appreciate your hard work.

[2022-10-12 18:33] Essilu opened #254 "Let the animals roam freely"
It would be great if the pet were not confined to their own little window. Is it technically possible?

[2022-10-12 18:34] #254 closed

[2022-10-12 20:16] tonybaloney commented on #249
Just in case anyone updated to 1.15.0 before 1.15.1 was updated. The issue is fixed. Vs Code will resolve it

[2022-10-13 11:06] kouhe3 opened #256 "Can't run in vscode.dev"
I want to use this good extension in vscode.dev

[2022-10-13 14:53] Francesca-Belfiore opened #257 "Translate the basic strings to Italian"
Hi! I really love your project and, since I saw that you are adding translations in various languages to it, I would be happy to contribute by adding the italian translation if you want. Let me know about it :3 @tonybaloney

[2022-10-14 04:25] 3-24 commented on #230
@tonybaloney can you assign this to me?

[2022-10-14 08:27] Macleykun commented on #228
this can be closed as the PR has been merged :)

[2022-10-14 08:37] #228 closed

[2022-10-15 05:07] phuongphat1088 opened #260 "please add Betta fish or Turtle please"

[2022-10-15 16:12] nicolabosco87 opened #261 "Stats about pets"
Should be nice to have somewhere stats about pets with:
- characteristics (name, color, type)
- date of birth (creation)
- age
- height (depends of age and could adapt the height in the pet image's style)
- balls catched?

[2022-10-16 01:11] tonybaloney commented on #256
Please provide more detail.

Have you tried to install in vscode.dev? Does it not work? Why did it not work? Did you get an error, please provide screenshots of the error.

[2022-10-16 01:11] tonybaloney commented on #257
Yes please,

[2022-10-16 01:11] #229 closed

[2022-10-16 11:07] ashishkashyap31 commented on #225
@tonybaloney , I would like to contribute to this issue.

[2022-10-16 11:31] kouhe3 commented on #256
![image](https://user-images.githubusercontent.com/25522053/196032622-78358150-5e15-4453-af62-32a98cdb46ec.png)

Unable in vscode.dev and github.dev

[2022-10-16 11:31] ashishkashyap31 opened #267 "Translate the basic strings file to Indonesian"
Hi! @tonybaloney . Can I please contribute by adding the Indonesian translation if you like since I see that you are adding translations in a number of languages , and adding support for Indonesian would be great.

[2022-10-16 14:31] Francesca-Belfiore commented on #257
Sure! Just opened the pr

[2022-10-16 18:52] kev-odin commented on #256
![error](https://user-images.githubusercontent.com/60195141/196052764-bc490963-57b2-44dc-9ecc-750d3572c8c9.png)

**Expected/Actual Results**
I wanted to run vscode-pets in vscode.dev to play with cute pets. Extension does not work on the web version of VSCode.

**Steps to Reproduce**
I forked the repo, opened the editor with `.`, and tried to install the extension via the side panel.

**Environmen

[2022-10-17 08:27] #218 closed

[2022-10-17 08:27] #257 closed

[2022-10-17 10:16] #267 closed

[2022-10-17 17:45] alberto255345 opened #272 "Evolution of scenery and pets over time"
I didn't see something similar in the issues, but I like the gamefication proposal. So, I believe that time goes by and the scenario changes with the hours of screen and Pet gains points. But from now on, my admiration for the project remains.

[2022-10-17 22:29] #225 closed

[2022-10-17 22:51] #230 closed

[2022-10-18 23:00] xoriath opened #274 "Extension does not run in a theia environment"
The extension is available on the open-vsx registry, but it fails to load by the looks of it.

The `window.aquireVsCodeApi` does not exist

[2022-10-19 00:00] tonybaloney commented on #274
Thanks for the report and for the PR.

I haven't uploaded it to open-vsix, so if it is there, someone else must've uploaded it.

This project supports VS Code. Theia claims to support VS Code extensions and this extension point is part of the VS Code extension API. I'm reluctant to merge specific patches for another editor without supporting it completely (which just adds more burden as a maintain

[2022-10-19 00:07] xoriath commented on #274
Interesting, i assumed theia was targeted directly... It looks like the API is supposed to be there on the theia side as well, so it does make sense to see why it is not on the window... (I'll open an issue tomorrow)

[2022-10-19 00:11] tonybaloney commented on #274
The extension on open-vsix is 1.9.1, which is pretty old (current is 1.15.0)

[2022-10-19 00:25] xoriath commented on #274
Actually, I think I found something... You fetch it from `window.`, however the doc for webview fetches it from a freestanding function: https://code.visualstudio.com/api/extension-guides/webview#persistence

This freestanding function is also available in Theia, but it is not available on the `window.` object....

[2022-10-19 00:41] xoriath commented on #274
Updated the PR to use the webview#persistence documentation, tested in theia 1.30 and vscode 1.72.2 and it works in both places (the state object contains the 3 functions)

[2022-10-19 14:27] ccjmne commented on #161
Hey @vydyas, @tonybaloney,

It's been over two weeks since there last was any activity here.
I'd love to take over this issue and get it done :)

Please don't hesitate to let me know if I can get it sorted, without stepping on anybody's toes!

[2022-10-19 14:31] vydyas commented on #161
@tonybaloney  I got sick can you assign this issue to someone. Sorry for late information

[2022-10-19 14:33] ccjmne commented on #161
@vydyas Aw, sorry to hear that. I hope you'll get better soon!
No worries about the delay, we're all in the same community, just having fun building silly things :)
Cheers!

[2022-10-19 15:54] lashaS-hub opened #280 "Pet sizes"
That would be great to change pet sizes, specifically I want to make them bigger, they are pretty small on my screen

[2022-10-19 17:34] UntrustedTech opened #281 "Not working in code server"
So ive been working on local hosted code server for a while and i thought this would be a cute little thing to have on my code setup, ive tried to get it to work but even reloading it or adding pets doesn’t work.

[2022-10-19 22:28] tonybaloney commented on #280
Please read the README.md file, this is already possible.

[2022-10-19 22:28] #280 closed

[2022-10-19 22:29] tonybaloney commented on #281
Duplicate of #256 am working on fix

[2022-10-19 22:29] #281 closed

[2022-10-19 22:30] #161 closed

[2022-10-20 08:53] Joe676 opened #282 "Throwing second ball whilst pets are chasing causes loop in pet state"
I've noticed that the ball speeds up significantly after a few throws. A very fast ball makes pets spin in circles. After reset the first ball is even faster, but the next is regular speed.

[2022-10-23 17:25] satonin12 opened #288 "What is theme, tell me please 🥺🥺🥺"
What is theme ?
what is this topic please tell me, my vscode is customized to the maximum and I would like to take something from here. Thanks a lot in advance!!

And yes, the extension is very cute!

![изображение](https://user-images.githubusercontent.com/24912294/197406338-a3ae050e-4558-4856-b6af-0dd5135346cd.png)

[2022-10-24 18:36] joyceerhl commented on #75
@tonybaloney I took a stab at resolving this issue with https://github.com/tonybaloney/vscode-pets/pull/290

[2022-10-24 20:55] naXa777 opened #291 "Please create a clone of this extension for IntelliJ IDEA!"
This is so annoying that IntelliJ IDEA Ultimate is missing such an awesome plugin that's available in VSC for free

[2022-10-24 21:42] KComrade53 commented on #282
I haven't been able to reproduce this on my Mac

[2022-10-25 15:50] MhouneyLH commented on #288
This theme is called "beach". You can use it by adjusting the "Vscode-pets: Theme"-property to "beach". :)

[2022-10-25 15:56] MhouneyLH commented on #288
Oh, then there was a little misunderstanding on my side.

[2022-10-25 17:31] broem commented on #282
I can reproduce on both Windows (10  v10.0.19044 Build 19044) and Mac (Montery 12.6).

Reproduce:
 - Spawn a pet
 - Toss a ball
 - While pet is chasing the ball throw another ball.
 - Pet starts spinning.

[2022-10-25 20:11] tonybaloney commented on #288
One of the Noctis themes. Install the extension. Maybe Noctis Lilac.

[2022-10-26 04:00] tonybaloney commented on #288
link to theme https://vscodethemes.com/e/liviuschera.noctis/noctis-lilac?language=python

[2022-10-26 04:00] #288 closed

[2022-10-26 04:01] tonybaloney commented on #291
IDEA extensions are written in Java/Kotlin and VS Code extensions are written in TypeScript, nothing in this extension could easily be ported to IntelliJ, so this would be a big undertaking.

[2022-10-26 04:01] #291 closed

[2022-10-26 04:35] kev-odin commented on #142
Updated section in the readme.

[code]

[2022-10-26 04:48] #75 closed

[2022-10-27 07:21] #241 closed

[2022-10-29 10:15] MrSurana commented on #104
Tested with cat and dog. Issue is only with the brown cat due to the improper aspect ratio of gif files.

`media/cat/brown_walk_8fps.gif` image has aspect ratio of 1.769 with width and height of 115 × 65
`media/cat/brown_run_8fps.gif` image has aspect ratio of 1.176 with width and height of 100 × 85

All gif assets for any pet should have same aspect ratio.

@tonybaloney If you have the source fil

[2022-10-31 01:33] amauryjaphet commented on #282
it happens  to me too

[2022-10-31 01:39] amauryjaphet commented on #139
God, i wish that was real **_probably_**

[2022-10-31 01:40] amauryjaphet opened #295 "Add the playground background"

[2022-10-31 23:26] brennanieva opened #297 "Clarify project documentation on adding themes"
Documentation on adding pet themes was vague and command did not pop up as an option

[2022-11-01 00:33] tonybaloney commented on #282
As a workaround, close and reopen the panel. I'll investigate how it gets in that state.

[2022-11-01 02:38] #282 closed

[2022-11-01 23:00] #104 closed

[2022-11-01 23:12] #143 closed

[2022-11-02 03:12] tonybaloney opened #302 "Default to explorer view"
Folks are always asking how to move the extension to the explorer window.

I think that should be the default setting.

[2022-11-02 03:41] #302 closed

[2022-11-02 03:41] tonybaloney opened #304 "Cat with ball is the wrong ratio"
The image gets larger when the cat catches the ball

[2022-11-02 08:04] MrSurana commented on #304
This will give an idea of aspect ratios for all cat images, so you can fix at once.

|file|dimensions|ratio|
|:-:|:-:|:-:|
|black_fall_from_grab_8fps.gif|115x85|1.353|
|black_idle_8fps.gif|135x95|1.421|
|black_land_8fps.gif|105x75|1.4|
|black_run_8fps.gif|130x95|1.368|
|black_swipe_8fps.gif|135x95|1.421|
|black_walk_8fps.gif|115x65|1.769|
|black_walk_fast_8fps.gif|135x95|1.421|
|black_with_ball_8f

[2022-11-03 16:35] h80r opened #306 "Adding Haunter as a pet"
Would it be possible to add Haunter as a pet?

[2022-11-04 10:14] marcduiker commented on #89
I ended up drawing them from scratch since I need control of the size and framerate. I'm about half way with the animations. Example: https://twitter.com/marcduiker/status/1587540510117433345

[2022-11-04 23:54] Luke-G-Cordova commented on #137
Is there a branch or fork for this already? Id like to help if I can!

[2022-11-05 04:25] tonybaloney commented on #137
No there isn't, but if you want to contribute features that'd be great!

[2022-11-05 22:09] Harry-Hopkinson commented on #237
Does this sound okay? I have thought of a import and export pet command.

- The export pet command exports a text file with the Type of Pet, The Colour and The Name of The Pet.
- The import pet command reads the file, which you can send to a friend for pair programming, and then loads the pet into the pet panel.

This means you can share files to show your pet setup, which is essentially pair prog

[2022-11-06 07:45] Luke-G-Cordova commented on #137
Sounds good, I have a pull request right now and am definitely thinking about contributing more. I think this project is a cool fun idea!

[2022-11-07 19:03] Luke-G-Cordova opened #309 "Mod's catch state image is not working properly"
**Describe the bug**
To reproduce:
- have Mod the .NET bot as a pet
- execute the throw ball command
- wait until he 'catches' it.

**Screenshots**
![image](https://user-images.githubusercontent.com/67668950/200392548-18549543-b254-45d8-b5c3-976176d7a127.png)
This is the image that is displayed when Mod catches the ball

**Additional context**
At first I thought this was purposeful because its a r

[2022-11-08 19:34] #309 closed

[2022-11-09 06:28] lizzydavis695 opened #311 "Help"
**Please describe your idea.**
A clear and concise description of what the feature would do.

**Describe how the idea would be helpful**
A clear and concise description of how the feature would be helpful to users.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-11-09 17:03] tedbergeron commented on #99
like a Pomodoro timer? Maybe there could be another easier effect?

[2022-11-09 17:42] Harry-Hopkinson commented on #311
@lizzydavis695 what is your issue?

[2022-11-11 23:14] amauryjaphet commented on #282
Oh ok 😊

[2022-11-12 06:45] #311 closed

[2022-11-12 16:57] Enfield-Li commented on #295
We need more background image!!!

[2022-11-18 02:28] gulyapulya commented on #304
Hi @tonybaloney, let me try to solve this.

[2022-11-18 03:21] gulyapulya commented on #304
I can see that all cat gifs with the ball have a smaller dimension which probably gets enlarged to the original size while running, can you guide me on what would be best to do?

[2022-11-18 06:13] tonybaloney commented on #304
The images need resizing to 120px by 85px without making the cat seem stretched.

Aseprite can do this with a Canvas Resize to the following settings

<img width="829" alt="screenshot 2022-11-18 at 17 12 48" src="https://user-images.githubusercontent.com/1532417/202633612-952191e3-afa2-4393-9c95-85ea8a518849.png">

Then you'll need to start VS Code pets in development mode and let the cat catch th

[2022-11-18 08:00] gulyapulya commented on #304
Thanks a lot for the guidelines!

[2022-11-18 08:20] gulyapulya commented on #304
Also, as a suggestion, it might be great to create a CONTRIBUTING.md file with instructions for contributors who have little knowledge of VScode extension development and other areas to speed up their introduction to the project. :)

[2022-11-18 21:11] #304 closed

[2022-11-20 22:25] tonybaloney opened #315 "Black and white catch glitches on fall & landing"
I think the black and white cat's fall and land GIFs have replay set, when they shouldn't. It means that it looks glitchy when jumping off the wall

[2022-11-21 00:33] #256 closed

[2022-11-21 02:46] #315 closed

[2022-11-22 00:56] tonybaloney opened #324 "Add Fox 🦊"
This sprite set could be used for a fox pet

https://elthen.itch.io/2d-pixel-art-fox-sprites

Would need attribution back to the original author (would also suggest a $ tip)

[2022-11-22 01:10] tonybaloney opened #325 "Add a grey cat."
There is now artwork for a grey cat.

![cat04_dash_12fps](https://user-images.githubusercontent.com/1532417/203189882-b63ad878-f8f2-4a5f-ac00-01e60eb3e815.gif)

[2022-11-22 02:01] tonybaloney commented on #103
![screenshot 2022-11-22 at 12 59 49](https://user-images.githubusercontent.com/1532417/203198735-eb553919-fcf3-4b68-ba25-c4162cfb00dc.gif)
This is as small as you can make it. You can also click+drag the window around

[2022-11-22 02:01] #103 closed

[2022-11-22 02:01] #100 closed

[2022-11-22 02:02] #68 closed

[2022-11-22 09:02] josipk-cinnamon opened #329 "Functionality to choose pet size with a number value"
**Please describe your idea.**
Currently we have three values for pet size: `nano`, `medium` and `large`.
I would love to have more fine grained tuning by using a decimal number value for size.

**Describe how the idea would be helpful**
Could help the users better fine tune their pet sizes.

[2022-11-26 14:15] amauryjaphet commented on #295
i agree